@using Users.WebApp.Applications.User.Features.UserList
@using Users.WebApp.Applications.User.Features.UserList.Actions.CreateUser
@model Users.WebApp.Applications.User.Features.UserList.Views.Partials.CreateUserFormModalPartialViewModel

<div class="modal"
    data-bs-backdrop="static"
    id="createUser"
    role="dialog"
    tabindex="-1">
    <div class="modal-dialog"
        role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">@Resources.CreateUserFormModal_Header</h4>
                <button aria-label="Close"
                    class="btn btn-close"
                    data-bs-dismiss="modal"
                    type="button">
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="UserEmail"
                                class="form-label">
                                @Resources.CreateUserFormModal_UserEmailInput_Label
                            </label>
                            <input type="email"
                                name="@nameof(CreateUserRequestModel.Email)"
                                id="UserEmail"
                                class="form-control"
                                required>
                            <span class="help-block">
                                @Resources.CreateUserFormModal_UserEmailInput_HelpText
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-danger"
                        data-bs-dismiss="modal"
                        id="cancelUserFormButton"
                        tabindex="1"
                        type="button">
                        @Resources.CreateUserFormModal_CancelButton_Label
                    </button>
                    <button class="btn btn-primary"
                        formaction="@Model.CreateUserActionUrl"
                        id="createUserFormButton"
                        tabindex="2"
                        type="submit">
                        @Resources.CreateUserFormModal_SubmitButton_Label
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
