@model Users.WebApp.Applications.User.Features.UserList.Views.Partials.UserPartialViewModel

  <tr>
      <td class="text-start"
          id="userEmail">
          @Model.Email
      </td>
      <td>
          @Model.Professions
      </td>
      <td class="text-end">
        <div class="btn-group"
            role="group">
            <button type="button"
                class="btn btn-lg"
                data-email="@Model.Email"
                data-user-id="@Model.Id"
                data-bs-toggle="modal"
                data-bs-target="#editUser">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button"
                class="btn btn-lg"
                data-user-id="@Model.Id"
                data-bs-toggle="modal"
                data-bs-target="#deleteUser">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </td>
  </tr>

